#CarSection {
    position: relative;
}

.CarSectionIntroduction {
    width: 90%;
}

.CarVideo {
    width: 90%;
    max-width: 1100px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

@media all and (max-width: 460px) {
    .CarVideo {
        width: 90%;
        margin-top: 20px;
    }
}