.ContactWrapper {
    position: relative;
    flex-direction: column;
}

.ContactContent {
    background-color: white;

    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 800px;
    margin-bottom: 100px;

    animation: rotate 1s infinite;
}

.ContactContent h1 {
    font-size: 30px;
    font-family: 'Golos Text', sans-serif;
    margin-bottom: 20px;
}

.ContactContent p {
    font-family: 'Golos Text', sans-serif;
    padding: 5px 5px 5px 0px;
}