.OurSchoolPageWrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

}

.OurSchoolContent {
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin-bottom: 100px;
}

.OurSchoolAbsatz {
    display: flex;
    place-items: center;
    /* margin: 15px 0px */
}

.OurSchoolAbsatz:last-of-type {
    /* margin-bottom: 100px; */
}

.OurSchoolAbsatz p {
    /* color: white; */
    font-family: var(--body-font);
}


.OurSchoolAbsatz img {
    height: 100px;
    margin: 10px;
}

.reverseFlex {
    flex-direction: row-reverse;
}

@media all and (max-width: 660px) {
    .OurSchoolContent {
        width: 80%;
    }
    .OurSchoolAbsatz {
        flex-direction: column-reverse;
    }
    .OurSchoolAbsatz img {
        width: 80%;
        height: 80%;
        aspect-ratio: auto;
        margin: 10px;
    }
}