#PressSection {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PressYouTube {
    width: 90%;
    aspect-ratio: 16/9;
    margin: 15px 0px;

}

.PressRacingTV {
    width: 90%;
    aspect-ratio: 16/9;
    margin: 15px 0px;
}

