.SusWrapper {
    position: relative;
    flex-direction: column;
}

.SusContent {
    font-family: var(--body-font);

    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin-bottom: 100px;
}

.SusContent p {
    margin-top: 20px;
}

.AbsatzMitBild {
    display: flex;
    place-items: center;
}

.AbsatzMitBild img {
    height: 200px;
    border-radius: 5px;
}

@media all and (max-width: 836px) {
    .SusContent p {
        font-size: 15px;
        font-family: 'Golos Text', sans-serif;
    }

}

@media all and (max-width: 660px) {
    .SusContent {
        width: 80%;
    }
    .AbsatzMitBild {
        flex-direction: column-reverse;
    }
    .AbsatzMitBild img {
        width: 100%;
        height: 100%;
        aspect-ratio: auto;
        margin: 10px;
        border-radius: 5px;
    }

}


@media all and (max-width: 520px) {
    .AbsatzMitBild {
        flex-direction: column-reverse;
    }
    .AbsatzMitBild img {
        width: 80%;
        height: 80%;
        margin: 10px;
        margin-top: 20px;
        aspect-ratio: auto;
        border-radius: 5px;
    }

}